<div class="center-div">
  <div id="styledText">
    <h1><b>Welcome to the BBLD Project!</b></h1>
    <p>
      The meme coin that’s got more lift than Drizzy's Brazilian butt lift! Dive into a world where crypto meets fun,
      and where owning BBLD means being part of the coolest community since Drizzy discovered autotune. Imagine trading
      tokens for exclusive merch, scoring rare NFTs, and jamming to diss tracks that roast Drizzy’s new look. We’re all
      about building a lively, cheeky community where everyone’s invited to troll, laugh, and profit. With exciting
      features, hilarious partnerships, and interactive games on the horizon, BBLD is set to shake up the meme coin
      world like Drizzy’s shake-up on stage. Join us now and get in on the ground floor of the most entertaining coin
      since PEPE, ETH, and BTC!
    </p>
    <h4>
      <button id="styled-mint-button">
        <a href="https://etherscan.io/token/0x1c4a28690482b03f6991c8c24295016cba197c12#code">View Contract</a>
      </button>
    </h4>
</div>
<br>
<br>

  <app-buy></app-buy>
  
  <h1 class="roadmap-title">Roadmap</h1>
  <br>
  <div class="roadmap">
    <div class="path"></div>
    <div class="phase">
      <h2>PHASE 1: 100 Holders</h2>
      <p>Deploy On uniswap</p>
      <p>1 of 100 NFT for OGs</p>
      <p>Create BBLD army of trolls posting content for Early BBLD tokens.</p>
      <p>Opportunity to trade BBLD for merch.</p>
      <p>1 Million Market cap</p>
      <p>Work with smaller artists to make Drizzy BBL diss music.</p>
    </div>
    <div class="phase">
      <h2>PHASE 2: 250 Holders</h2>
      <p>1-10,000 NFTs</p>
      <p>10 Million Market cap</p>
      <p>Work with medium artists to make Drizzy BBL diss music or ART</p>
      <p>Add web3 login to access more features of the site (must own at least 10 BBLD to enter)</p>
      <p>Wrapped pairs on other decentralized exchanges besides UNI.</p>
      <p>Brand ambassadors to help make money and buy-back program.</p>
    </div>
    <div class="phase">
      <h2>PHASE 3: 1000+ Holders</h2>
      <p>100 Million Market cap</p>
      <p>Listing on Centralized Exchanges</p>
      <p>Large Celebrity influence</p>
      <p>Drizzy BBL maze runner game.</p>
    </div>
  </div>
  <div class="container" id="text" style="width: 85%;">
    <br><br>
    <h5><u>Legal Disclaimer</u></h5>
    <p>
      The creators and maintainers of BBLD are not liable for any loss when trading
      cryptocurrency tokens. The information provided on the BBLD website does not constitute legal advice,
      investment advice, financial advice, trading advice, or any other sort of advice and you should not treat
      any of the website's content as such. Please note, there are always risks associated with smart contracts, use them
      at your own risk. BBLD is not a registered broker, analyst, or investment advisor, nor does the Sudo
      Shark Services team recommend that any cryptocurrency be bought, sold, or held by you. Do conduct your own
      due diligence and consult your financial advisor before making any financial decisions. Always make sure that
      you are in compliance with your local laws and regulations before
      you make any purchase.
    </p>
    <br><br><br>
  </div>

  <div class="social-media-icons">
    <a href="https://x.com/BBL_Drizzy_eth" target="_blank" id="twitter-icon">
      <img src="../../../assets/bbld/x logo.webp" alt="X Logo">
    </a>
  </div>
  
</div>
