<div class="center-div" style="  display: grid;
">
  <div style id="styledText">
    
      <h1><b> Welcome to the BBLD Project!</b></h1>
    

    <p>The meme coin that’s got more lift than Drizzys Brazilian butt lift! Dive into a world where crypto meets fun,
      and where owning BBLD means being part of the coolest community since Drizzy discovered autotune. Imagine trading
      tokens for exclusive merch, scoring rare NFTs, and jamming to diss tracks that roast Drizzy’s new look. We’re all
      about building a lively, cheeky community where everyone’s invited to troll, laugh, and profit. With exciting
      features, hilarious partnerships, and interactive games on the horizon, BBLD is set to shake up the meme coin
      world like Drizzy’s shake-up on stage. Join us now and get in on the ground floor of the most entertaining coin
      since PEPE, ETH, and BTC!</p>


    <h4>
      <button id="styled-mint-button" style="margin: 1%;"> <a style="margin: 10%;"
          href="https://etherscan.io/token/0x1c4a28690482b03f6991c8c24295016cba197c12#code" style="margin: 10px;">View
          Contract</a></button>
      <!-- <button id="styled-mint-button" style="margin: 1%;"> <a href="https://opensea.io/collection/toonversestudios"
          style="margin: 10px">View
          Opensea</a></button>
      <button id="styled-mint-button" style="margin: 1%;"> <a href="https://rarible.com/toonverseStudios">View
          Rarible</a></button> -->

    </h4>
  </div>

  <!-- <div class="card" id="card-mintDevilCat">
    <div class="container">
      <div class="card-body">
        <h6>**Minting Soon **</h6>
        <p>EL GATO DIABLO!</p>

        <img id="center-img-gif" src="../../../assets/elgatodiablo/elgatodiabloGIF.webp" alt="logo" height="40%"
          width="63%" style="border-radius: 5%" />
        <br>
        <br>
        <p> Check back May 7th...
          <br>

          At the request of our community based off the original design of our genesis DevilCatz collection.

          350 of this collection will be minted with 100 $TOON 2 mints per wallet. <br>
          DevilCatz owners can mint 2 at a discount and DevilCatz stakers can mint
          unlimited at a discount.
          <br>
          Public mint is also available.
        </p>


        <button id="navbar-text" class="styled" [routerLink]="['/elgatodiablo']">View Mint!</button>
        <br>
        <button id="navbar-text" class="styled"> <a href="https://opensea.io/collection/elgatodiablo"
           >View
            Opensea</a></button>
        <br>
        <button id="navbar-text" class="styled"> <a
            href="https://etherscan.io/address/0xa8b62866020970943de4f0e6fc4acf3e31636346#code"
           >View
            Contract </a></button>

      </div>
    </div>
  </div> -->


  <!--This is where we are injecting buy component-->
  <app-buy></app-buy>
  <br>
  <br>
  <br>
  <br>

  <body>
    <h1 class="roadmap-title">Roadmap</h1>
    <div class="roadmap">
      <div class="path"></div>
      <div class="phase">
        <h2>PHASE 1: 100 Holders</h2>
        <p>Deploy On uniswap</p>
        <p>1 of 100 NFT for OGs</p>
        <p>Create BBLD army of trolls posting content for Early BBLD tokens.</p>
        <p>Opportunity to trade BBLD for merch.</p>
        <p>1 Million Market cap</p>
        <p>Work with smaller artist who make Drizzy BBL dis music.</p>
      </div>
      <div class="phase">
        <h2>PHASE 2: 250 Holders</h2>
        <p>1-10,000 NFTs</p>
        <p>10 Million Market cap</p>
        <p>Work with Medium artist who make Drizzy BBL dis music or ART</p>
        <p>Will add web3 login to access more features of the site must own at least 10 BBLD to enter. (not spend just
          at least own...)</p>
        <p>Wrapped pairs on other Decentralized exchanges besides UNI.</p>
        <p>Brand ambassadors to help make money and buy back program.</p>
      </div>
      <div class="phase">
        <h2>PHASE 3: 1000+ Holders</h2>
        <p>100 Million Market cap</p>
        <p>Listing on Centralized Exchanges</p>
        <p>Large Celebrity influence</p>
        <p>Drizzy BBL maze runner game.</p>
      </div>
    </div>

  </body>

  <!-- <div class="container" style="margin-bottom: 100px; margin-top:25px">
    <div class="row"
      style="  justify-content: center; padding: 15px;background-color: aliceblue;border-bottom-style: double;">
      <div class="col-md-2">Price</div>
      <div class="col-md-2">Icon</div>
      <div class="col-md-2">Project</div>
      <div class="col-md-2">Status</div>
      <div class="col-md-2">Supply</div>
      <div class="col-md-2">Link</div>
    </div>
    <div class="row" id="table">
      <div class="col-md-2">
        Not for sale
      </div>

      <div class="col-md-2">

        <img src="../../../assets\bbld\top_page_logo.png" alt="" style="width: 45px; height: 45px"
          class="rounded-circle" />
      </div>

      <div class="col-md-2">

        <div class="ms-3">
          <p> <a href="https://opensea.io/collection/toonversestudios" class="fw-bold mb-1">Devil Catz</a>
          </p>

        </div>
      </div>

      <div class="col-md-2">


        <span class="badge badge-success rounded-pill d-inline">SOLD OUT</span>
      </div>
      <div class="col-md-2">

        2222
      </div>

      <div class="col-md-2">

        <button [routerLink]="['/manage']" id="styled-mint-button">
          Stake
        </button>
      </div>
    </div>

    <div class="row" id="table">

      <div class="col-md-2">
        50 ETH
      </div>

      <div class="col-md-2">
        <img src="../../../assets/toonverse/fruitgremlins.wtf/ftgbanner.png" class="rounded-circle" alt=""
          style="width: 45px; height: 45px" />

      </div>
      <div class="col-md-2">


        <p>
          <a href="https://opensea.io/collection/fruittowngremlins-wtfruit" class="fw-bold mb-1">Fruit Town
            Gremlins</a>
        </p>

      </div>

      <div class="col-md-2">


        <span class="badge badge-success rounded-pill d-inline">SOLD OUT</span>
      </div>
      <div class="col-md-2">

        4444
      </div>

      <div class="col-md-2">
        <a href="https://opensea.io/collection/fruittowngremlins-wtfruit" class="fw-bold mb-1">
          <button id="styled-mint-button">
            SOLD OUT
          </button></a>

      </div>

    </div>

    <div class="row" id="table">
      <div class="col-md-2">

        TBD</div>
      <div class="col-md-2">

        <img src="../../../assets/elgatodiablo/314.png" class="rounded-circle" alt=""
          style="width: 45px; height: 45px" />
      </div>
      <div class="col-md-2">
        <p>
          <a href="https://opensea.io/collection/elgatodiablo" class="fw-bold mb-1">El Gato Diablo</a>
        </p>
      </div>

      <div class="col-md-2">


        <span class="badge badge-primary rounded-pill d-inline">Minting Now</span>
      </div>
      <div class="col-md-2">

        2222</div>

      <div class="col-md-2">

        <button [routerLink]="['/elgatodiablo']" id="styled-mint-button">
          Mint!
        </button>
      </div>

    </div>




    <div class="row" id="table">
      <div class="col-md-2">

        TDB</div>
      <div class="col-md-2">

        <img src="../../../assets/toonverse/tanggang/tangGang.png" class="rounded-circle" alt=""
          style="width: 45px; height: 45px" />
      </div>
      <div class="col-md-2">
        <p class="fw-bold mb-1">Tang Gang</p>

      </div>

      <div class="col-md-2">


        <span class="badge badge-warning rounded-pill d-inline">Coming Soon...</span>
      </div>
      <div class="col-md-2">

        TBD</div>

      <div class="col-md-2">

        <button disabled [routerLink]="['/manage']" id="styled-mint-button">
          TBD
        </button>
      </div>

    </div>
    <div class="row" id="table">
      <div class="col-md-2">

        TDB</div>
      <div class="col-md-2">

        <img src="../../../assets/toonverse/clouds/Music.png" class="rounded-circle" alt=""
          style="width: 45px; height: 45px" />
      </div>
      <div class="col-md-2">
        <p class="fw-bold mb-1">Crazy Cloud Club</p>

      </div>

      <div class="col-md-2">


        <span class="badge badge-warning rounded-pill d-inline">Coming Soon...</span>
      </div>
      <div class="col-md-2">

        TBD</div>

      <div class="col-md-2">

        <button disabled [routerLink]="['/manage']" id="styled-mint-button">
          TBD
        </button>
      </div>

    </div>




    <div class="row" id="table">
      <div class="col-md-2">

        TDB</div>
      <div class="col-md-2">

        <img src="../../../assets/toonverse/sourpuss/main.png" class="rounded-circle" alt=""
          style="width: 45px; height: 45px" />
      </div>
      <div class="col-md-2">
        <p class="fw-bold mb-1">Sour Puss Felines</p>

      </div>

      <div class="col-md-2">


        <span class="badge badge-warning rounded-pill d-inline">Coming Soon...</span>
      </div>
      <div class="col-md-2">

        TDB</div>

      <div class="col-md-2">

        <button disabled [routerLink]="['/manage']" id="styled-mint-button">
          TBD
        </button>
      </div>

    </div>
    <div class="row" id="table">
      <div class="col-md-2">

        TDB</div>
      <div class="col-md-2">

        <img src="../../../assets/toonverse/redFront.png" class="rounded-circle" alt=""
          style="width: 45px; height: 45px" />
      </div>
      <div class="col-md-2">
        <p class="fw-bold mb-1">Devil Catz V2</p>

      </div>

      <div class="col-md-2">


        <span class="badge badge-warning rounded-pill d-inline">Coming Soon...</span>
      </div>
      <div class="col-md-2">

        TDB</div>

      <div class="col-md-2">

        <button disabled [routerLink]="['/manage']" id="styled-mint-button">
          TBD
        </button>
      </div>
    </div>
  </div> -->


  <br>
  <br>

  <div class="container" id="text" style="width: 85%;">

    <br>
    <br>

    <h5>
      <u> Legal Disclaimer</u>
    </h5>
    <p>

      The creators and maintainers of BBLD are not liable for any loss when trading
      cryptocurrency tokens. The information provided on BBLD website does not constitute legal
      advise,
      investment advice, financial advice, trading advice, or any other sort of advice and you should not treat
      any
      of
      the website's content as such. Please note, there are always risks associated with smart contracts, use them
      at
      your own risk. BBLD is not a registered broker, analyst, or investment advisor, nor does Sudo
      Shark Services team recommend that any cryptocurrency be bought, sold, or held by you. Do conduct your own
      due
      diligence and consult your financial advisor before making any financial decisions. Always make sure that
      you
      are in compliance with your local laws and regulations before
      you make any purchase.
      <br><br><br>

    </p>
  </div>





</div>